*{
	box-sizing: border-box;
}

body {
	background-image: url("../images/concrete-texture.png");
      background-repeat: repeat;
}


.home-header {
	width: 100%;
	height: 60px;
	background: #f7f7f7;
	border-bottom: 2px groove #cccccc;
	font-family: 'Georgia', Times, "Times New Roman", serif;
	margin-bottom: 40px;
}

.name {
	font-size: 24px;
	font-weight: bold;
	color: #ffffff;
	height: 100%;
	background: #4aaaa5;
	padding: 15px;
	margin-left: 100px;
	float: left;

}

.nav-bar {
	font-size: 18px;
	font-weight: bold;
	margin-top: 15px;
	margin-right: 100px;
	float: right;
}

.nav-bar li {
	display: inline;
	
}

.nav-bar a {
	color: #777777;
	padding: 0 15px 0 15px;
	text-decoration: none;
	border-right: 1px solid #cccccc;

}

.home-content {
	width: 960px;
	margin: 0 auto;
}

.about-content {
	width: 650px;
	margin-right: 40px;
	background: #f7f7f7;
	float: left;
}

.about-content h2 {
	width: 630px;
	margin: 0 10px 20px 10px;
	font-size: 24px;
	font-weight: bold;
	color: #4aaaa5;
	padding: 20px 10px 20px 10px;
	border-bottom: 2px groove #cccccc;
}

.about-content p {
	padding: 0 20px 20px 20px;
}


.contact-aside {
	width: 270px;
	background: #f7f7f7;
	float: left
}

.contact-aside h3 {
	width: 250px;
	margin: 0 10px 20px 10px;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	color: #4aaaa5;
	padding: 20px 10px 20px 10px;
	border-bottom: 1px groove #cccccc;
}

.contact-aside li {
	display: inline;

}

.contact-aside a {
	padding: 10px 10px 30px 10px
}


.profile-image {
	float: left;
	padding: 0 20px 20px 20px;
}




footer {
	clear: both;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 70px;
	background: #666666;
	text-align: center;
	color: #f7f7f7;
	font-size: 16px;
	border-top: 7px solid #4aaaa5;
}

footer p {
padding-top: 20px;
}





